# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [37]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [17]:
# Your code here:
total_nonleg=list(pokemon[(pokemon['Legendary']==False)]['Total'])
m=np.mean(total_nonleg)
std=np.std(total_nonleg)
print(f'NONLEGENDARY\nMean:{m}\nStd: {std}')
total_leg=list(pokemon[(pokemon['Legendary']==True)]['Total'])
m2=np.mean(total_leg)
std2=np.std(total_leg)
print(f'LEGENDARY\nMean:{m2}\nStd: {std2}')

NONLEGENDARY
Mean:417.21360544217686
Std: 106.68776660321979
LEGENDARY
Mean:637.3846153846154
Std: 60.46682302213779

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [26]:
# Your code here:
from scipy.stats import ttest_ind
ttest_ind(total_nonleg,total_leg,equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [76]:
# Your conclusions here:
#rechazamos la Ho de que tienen la misma esperanza(media esperada)
#al 95% estoy segura de que son independientes
print(np.mean(total_nonleg))
print(np.mean(total_leg))

417.21360544217686
637.3846153846154

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [29]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [31]:
# Your code here:
total_water=list(pokemon[(pokemon['Type 1']=="Water")]['Total'])
m=np.mean(total_water)
std=np.std(total_water)
print(f'WATER\nMean:{m}\nStd: {std}')
total=list(pokemon[(pokemon['Type 1']!="Water")]['Total'])
m2=np.mean(total)
std2=np.std(total)
print(f'NONWATER\nMean:{m2}\nStd: {std2}')

WATER
Mean:430.45535714285717
Std: 112.681828329091
NONWATER
Mean:435.85901162790697
Std: 121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [74]:
# Your code here:
ttest_ind(total_water,total,equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [75]:
# Your conclusions here:
#no rechazamos la Ho de que tienen la misma esperanza(media esperada)
print(np.mean(total_water))
print(np.mean(total))

430.45535714285717
435.85901162790697

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [70]:
# Your code here:
#Ho: defense = attack
from scipy.stats import ttest_rel
attack=pokemon['Attack']
de=pokemon['Defense']
ttest_rel(attack,de)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [71]:
# Your conclusions here:
#rechazamos la Ho de que las dos muestras relacionadas tienen la misma media
print(np.mean(attack))
print(np.mean(de))

79.00125
73.8425

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [72]:
# Your code here:
spattack=pokemon['Sp. Atk']
spde=pokemon['Sp. Def']
print(ttest_rel(spattack,spde))

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [73]:
# Your conclusions here:
#no rechazamos la Ho de que las dos muestras relacionadas tienen la misma media
#por lo que tienen la misma media
print(np.mean(spattack))
print(np.mean(spde))

72.82
71.9025

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [83]:
# Your code here:
from scipy.stats import ttest_1samp
ttest_1samp((de-attack),0)
#rechazamos la Ho de que la diferencia entre attack y defense sea nula, 
#con razon ya que anterioemente hemos rechazado la Ho de que las medias sean iguales

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [89]:
# Your code here:
ct=pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')
ct

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [90]:
# Your code here:
from scipy.stats import chi2_contingency
chi2_contingency(ct)

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [91]:
# Your answer here:
#Ho: there's independance
#p-value=0.08625467249550949 therefore rechazamos que exista independencia entre ellos