# Lambda Functions

In [187]:
square = lambda x: x * x

# A function that returns the same result as the lambda function
def square_function(x):
    return x * x
    
print (square(5))
print (square_function(5))

25
25

# If Statements in Lambda Functions

In [188]:
div = lambda num, denom: num / denom if (denom != 0) else 0

print (div(5, 10))

print (div(10, 0))

0.5
0

# Lambdas in the Return Statement of a Function

In [189]:
def splitter(string):
    return lambda x: x.split(string)

In [190]:
splitter('hola') # Our function returns another function(lambda)

In [200]:
word = splitter(' ') # We decide

In [192]:
word # As you can see our variable word is just a lambda

In [199]:
word('estamos en ironhack; cómo estáis; nos encantan; las lambdas')

['estamos',
 'en',
 'ironhack;',
 'cómo',
 'estáis;',
 'nos',
 'encantan;',
 'las',
 'lambdas']

In [195]:
#each element to type list
[[part] for part in word('estamos en ironhack; cómo estáis; nos encantan; las lambdas')]

[['estamos'],
 ['en'],
 ['ironhack;'],
 ['cómo'],
 ['estáis;'],
 ['nos'],
 ['encantan;'],
 ['las'],
 ['lambdas']]

In [196]:
#list of characters
[list(part) for part in word('estamos en ironhack; como estais; nos encantan; las lambdas')]

[['e', 's', 't', 'a', 'm', 'o', 's'],
 ['e', 'n'],
 ['i', 'r', 'o', 'n', 'h', 'a', 'c', 'k', ';'],
 ['c', 'o', 'm', 'o'],
 ['e', 's', 't', 'a', 'i', 's', ';'],
 ['n', 'o', 's'],
 ['e', 'n', 'c', 'a', 'n', 't', 'a', 'n', ';'],
 ['l', 'a', 's'],
 ['l', 'a', 'm', 'b', 'd', 'a', 's']]

# Lambdas in List Comprehensions

In [111]:
square = lambda x, y: x * y #our lambda function need two paramaters(x,y)
squared = [square(x, 3) for x in range(1, 10)]

print(squared)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [118]:
%time
lambda_string = lambda x: x.replace('-', ' ')
[lambda_string(x) for x in school_dash]

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 6.91 µs

['Calculus', 'Philosophy', 'Art History', 'Computer Science']

In [117]:
%time
school_dash = ['Calculus', 'Philosophy', 'Art-History', 'Computer-Science']

school_space = [(lambda x: x.replace('-', ' '))(x) for x in school_dash]

print(school_space)

CPU times: user 4 µs, sys: 8 µs, total: 12 µs
Wall time: 16 µs
['Calculus', 'Philosophy', 'Art History', 'Computer Science']

# Lambdas as Arguments in Functions

Lambda functions really shine as arguments in functions. One example is sorting. Typically, we only sort using the default options in Python.

In [172]:
#Order by the last character of each word

school_dash_lists = [['Calculus'], ['Philosophy'], ['Art-History'], ['Computer-Science']]

sorted(school_dash_lists, key=lambda x: x[0][-1])

[['Computer-Science'], ['Calculus'], ['Philosophy'], ['Art-History']]

In [173]:
#Order by the last character of each word
school_dash = ['Calculus', 'Philosophy', 'Art-Historf', 'Computer-Science']
last = lambda x: x[-1]

sorted(school_space, key=last)

['Computer Science', 'Calculus', 'Philosophy', 'Art History']

In [174]:
dictionary = {'john':2, 'mary':9, 'david':8, 'marie':7, 'amy':5, 'allan':8} 
print(sorted(dictionary))

['allan', 'amy', 'david', 'john', 'marie', 'mary']

In [176]:
#Order descending the value -x[1]
#x[0] = value
#x[1] = key

sorted(dictionary.items(), key=lambda x:(-x[1], x[0]))

[('mary', 9),
 ('allan', 8),
 ('david', 8),
 ('marie', 7),
 ('amy', 5),
 ('john', 2)]

In [128]:
sorted(dictionary.items(), key=lambda x:(x[1], x[0]))

[('john', 2),
 ('amy', 5),
 ('marie', 7),
 ('allan', 8),
 ('david', 8),
 ('mary', 9)]

In [154]:
name = ['noelia', 'fran', 'felipe']
age = [26, 25, 29]

tas = zip(name, age)
result = list(tas)

In [185]:
print(tas) # tas is a zip object
print(result)

<zip object at 0x10f14c688>
[('noelia', 26), ('fran', 25), ('felipe', 29)]

In [186]:
names, _ =  zip(*result) #We can use _ if we can avoid the second variable
names, ages =  zip(*result)

In [156]:
names

('noelia', 'fran', 'felipe')

In [157]:
ages

(26, 30, 29)

### Additional informacion re.match

In [180]:
import re

In [181]:
m = re.search('(?<=abc)def', 'abcdef')

In [182]:
m # This is just a match object

In [183]:
bool(m) # True or False

True

In [184]:
m.group() # The match objetc

'def'