## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('../weather-raw.csv')
data.head(22)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(data.shape)

(22, 35)

In [5]:
null_cols = data.isnull().sum()
null_cols

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

In [11]:
drop_cols = list(null_cols[null_cols == 22].index)
data = data.drop(drop_cols, axis=1)

KeyError: "['d9' 'd12' 'd18' 'd19' 'd20' 'd21' 'd22' 'd24'] not found in axis"

In [12]:
data.shape

(22, 27)

In [35]:
data1= data.T
data1

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
id,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,...,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004
year,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,...,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010
month,1,1,2,2,3,3,4,4,5,5,...,7,7,8,8,10,10,11,11,12,12
element,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,...,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin
d1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.9,13.8
d2,NaN,NaN,27.3,14.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.3,16.3,NaN,NaN
d3,NaN,NaN,24.1,14.4,NaN,NaN,NaN,NaN,NaN,NaN,...,28.6,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.2,12,NaN,NaN
d5,NaN,NaN,NaN,NaN,32.1,14.2,NaN,NaN,NaN,NaN,...,NaN,NaN,29.6,15.8,27,14,26.3,7.9,NaN,NaN
d6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,10.5
d7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.1,12.9,NaN,NaN,NaN,NaN
d8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29,17.3,NaN,NaN,NaN,NaN,NaN,NaN
d10,NaN,NaN,NaN,NaN,34.5,16.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d11,NaN,NaN,29.7,13.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.8,16.5,NaN,NaN,NaN,NaN,NaN,NaN
d14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.9,16.5,NaN,NaN,29.5,13,NaN,NaN,NaN,NaN
d15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.7,10.5,NaN,NaN,NaN,NaN
d16,NaN,NaN,NaN,NaN,31.1,17.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d23,NaN,NaN,29.9,10.7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.4,15,NaN,NaN,NaN,NaN,NaN,NaN
d25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.7,15.6,NaN,NaN,NaN,NaN,NaN,NaN
d26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,28.1,12.1,NaN,NaN
d27,NaN,NaN,NaN,NaN,NaN,NaN,36.3,16.7,33.2,18.2,...,NaN,NaN,NaN,NaN,NaN,NaN,27.7,14.2,NaN,NaN
d28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,31.2,15,NaN,NaN,NaN,NaN
d29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,28,15.3,NaN,NaN,NaN,NaN,NaN,NaN
d30,27.8,14.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,25.4,15.4,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
melted_cols = data.columns[4:-1]
x=data.melt(id_vars=["year","month",'element'],value_vars=melted_cols)
x.head(26)

    year  month element variable  value
0   2010      1    tmax       d1    NaN
1   2010      1    tmin       d1    NaN
2   2010      2    tmax       d1    NaN
3   2010      2    tmin       d1    NaN
4   2010      3    tmax       d1    NaN
5   2010      3    tmin       d1    NaN
6   2010      4    tmax       d1    NaN
7   2010      4    tmin       d1    NaN
8   2010      5    tmax       d1    NaN
9   2010      5    tmin       d1    NaN
10  2010      6    tmax       d1    NaN
11  2010      6    tmin       d1    NaN
12  2010      7    tmax       d1    NaN
13  2010      7    tmin       d1    NaN
14  2010      8    tmax       d1    NaN
15  2010      8    tmin       d1    NaN
16  2010     10    tmax       d1    NaN
17  2010     10    tmin       d1    NaN
18  2010     11    tmax       d1    NaN
19  2010     11    tmin       d1    NaN
20  2010     12    tmax       d1   29.9
21  2010     12    tmin       d1   13.8
22  2010      1    tmax       d2    NaN
23  2010      1    tmin       d2    NaN
24  2010      2    tmax       d2   27.3
25  2010      2    tmin       d2   14.4

In [81]:
y=x.groupby(['year','month','element']).mean()
display(y.head())
z=y.groupby(['month']).mean()
display(z)
z.rename(columns={'value':'tmedia'},inplace=True)
display(z)
z.T

                        value
year month element
2010 1     tmax     27.800000
           tmin     14.500000
     2     tmax     27.750000
           tmin     13.225000
     3     tmax     32.566667

           value
month
1      21.150000
2      20.487500
3      24.383333
4      26.500000
5      25.700000
6      23.400000
7      23.125000
8      22.333333
10     20.990000
11     20.310000
12     20.500000

          tmedia
month
1      21.150000
2      20.487500
3      24.383333
4      26.500000
5      25.700000
6      23.400000
7      23.125000
8      22.333333
10     20.990000
11     20.310000
12     20.500000

month,1,2,3,4,5,6,7,8,10,11,12
tmedia,21.15,20.4875,24.383333,26.5,25.7,23.4,23.125,22.333333,20.99,20.31,20.5