#### 1. Import pandas library

In [1]:
# RECUERDA: con pandas, si modificas varias veces una variable con pd 
# reinicia el kernel cuando veas que los cambios que realizan no tienen efecto
# en el resultado

import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql

In [3]:
import sqlalchemy as db
import getpass


#engine = db.create_engine('dialect+driver://user:pass@host:port/db')

# Esto sería para conectarme a mi usuario de mysql con mi contraseña
# password = getpass.getpass("Insert your mysql root password: ")
# engine = db.create_engine('mysql+pymysql://root:{}@localhost/publications_new'.format(password))
# print("Connected to server!")

#password = getpass.getpass("Insert your mysql root password: ")
engine = db.create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')
print("Connected to server!")
# psswd en instrucciones

Connected to server!

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [4]:
# Otra forma:
#password = "relational"
#engine = db.create_engine('mysql+pymysql://guest:{}@relational.fit.cvut.cz/stats'.format(password))
#print("Connected to server!")

#### 4. Import the users table

In [5]:
query="""
SELECT * FROM users""" 
df=pd.read_sql_query(query,engine)
save1=df
display(save1)
# he realizado tanto cambio de nombres para intentar almacenar la información
# (se me va el wifi constantemente)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 5. Rename Id column to userId

In [6]:
save1=save1.rename(columns={"Id":"userId"})

#### 6. Import the posts table.

In [9]:
query="""
SELECT * FROM posts""" 
dfp=pd.read_sql_query(query,engine)
save2=dfp
display(save2)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [10]:
save2=save2.rename(columns={"Id":"postId","OwnerUserId":"userId"})
display(save2)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [11]:
new_df_u=save1[{'userId','Reputation','Views','UpVotes','DownVotes'}]
new_df_p=save2[{'postId','Score','userId','ViewCount','CommentCount'}]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [48]:
mer_df=new_df_u.merge(new_df_p,how='left',on='userId')
display(mer_df)

,userId,Views,DownVotes,UpVotes,Reputation,postId,Score,CommentCount,ViewCount
0,-1,0,1920,5007,1,2175.0,0.0,0.0,NaN
1,-1,0,1920,5007,1,8576.0,0.0,0.0,NaN
2,-1,0,1920,5007,1,8578.0,0.0,0.0,NaN
3,-1,0,1920,5007,1,8981.0,0.0,0.0,NaN
4,-1,0,1920,5007,1,8982.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
108921,55743,0,0,0,1,NaN,NaN,NaN,NaN
108922,55744,1,0,0,6,115370.0,1.0,2.0,13.0
108923,55745,0,0,0,101,NaN,NaN,NaN,NaN
108924,55746,1,0,0,106,115376.0,1.0,2.0,5.0
108925,55747,0,0,0,1,NaN,NaN,NaN,NaN

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [68]:

# Missing values: none or NaN
# df.isna() y df.isnull() is the same in panda because of C stuff

null_cols = mer_df.isnull().sum()   # null numbers in my df
null_cols[null_cols>0]              # columns with zeros in my df
sum(null_cols[null_cols>0])         # the global number of 0 values

# if the result of executing this cell is 0 it's because you executed already
# the cell below. this was the asked question, and the columns were the 
# missing ones after executing the next cell

0

In [66]:
drop_cols = list(null_cols[null_cols > 10000].index)  # to remove columns with high number of NaN
drop_cols

mer_df= mer_df.drop(drop_cols, axis=1)
display(mer_df)

        userId  Views  DownVotes  UpVotes  Reputation
0           -1      0       1920     5007           1
1           -1      0       1920     5007           1
2           -1      0       1920     5007           1
3           -1      0       1920     5007           1
4           -1      0       1920     5007           1
...        ...    ...        ...      ...         ...
108921   55743      0          0        0           1
108922   55744      1          0        0           6
108923   55745      0          0        0         101
108924   55746      1          0        0         106
108925   55747      0          0        0           1

[108926 rows x 5 columns]

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [ ]:
# It is clear you miss information either you fill or clean, so better call the people in
# charge of the company and talk together about their business

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
# you don't need floats to count visits. view count and comment count
# should be int-type. I don't know what else to say with the results i'm having

In [70]:
stats = mer_df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,108926.0,18827.148146,16308.484529,-1.0,4505.0,13413.0,30682.0,55747.0,26177.0
Views,108926.0,860.178690,2654.748581,0.0,1.0,19.0,293.0,20932.0,292.0
DownVotes,108926.0,27.670501,123.680361,0.0,0.0,0.0,5.0,1920.0,5.0
UpVotes,108926.0,610.758221,1890.290982,0.0,0.0,7.0,167.0,11442.0,167.0
Reputation,108926.0,5231.223546,13968.878146,1.0,23.0,172.0,2294.0,87393.0,2271.0

In [80]:
outliers = pd.DataFrame(columns=mer_df.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = mer_df[(mer_df[col] < lower) | 
                   (mer_df[col] > upper)].copy()
    results['Outliers'] = col
    outliers = outliers.append(results)
outliers

# tengo que investigar esto mejor

      DownVotes    Outliers Reputation UpVotes Views userId
214           5       Views       6792     662  1145      5
215           5       Views       6792     662  1145      5
216           5       Views       6792     662  1145      5
217           5       Views       6792     662  1145      5
218           5       Views       6792     662  1145      5
...         ...         ...        ...     ...   ...    ...
84191       143  Reputation       7227    2664   991  32036
84192       143  Reputation       7227    2664   991  32036
84193       143  Reputation       7227    2664   991  32036
84194       143  Reputation       7227    2664   991  32036
84195       143  Reputation       7227    2664   991  32036

[78731 rows x 6 columns]

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.