# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# import reduce from functools, numpy and pandas
from functools import reduce
import numpy as np
import pandas as pd

# Challenge 1 - Mapping

#### We will use the map function to clean up a words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [41]:
# Run this code:

location = '../58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [3]:
# Your code here:
prophet = prophet[568:]

# With lambda functions... :P
# comomola = lambda x: x[568:]
# prophet = comomola(prophet)

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [4]:
# Your code here:

prophet[0:10]

['PROPHET\n\n|Almustafa,',
 'the{7}',
 'chosen',
 'and',
 'the\nbeloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [5]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    return x.split('{')[0]
print(reference(prophet[1]))

# With lambda functions:
reference_lambda = lambda x: x.split('{')[0]
print(reference_lambda(prophet[1]))

the
the

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [6]:
# Your code here:

prophet_reference = list(map(reference_lambda,prophet))

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [7]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''  
    # Your code here:
    return x.split('\n')
print([prophet_reference[4]])
print(line_break(prophet_reference[4]))

# With lambda functions:
line_break_lambda = lambda x: x.split('\n')
print(line_break_lambda(prophet_reference[4]))

['the\nbeloved,']
['the', 'beloved,']
['the', 'beloved,']

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [8]:
# Your code here:

prophet_line = list(map(line_break_lambda,prophet_reference))

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [ ]:
# Your code here:
# print(prophet_line[0:10])
prophet_flat = [element for list in prophet_line for element in list]
print(prophet_flat)

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [10]:
def word_filter(x):
    '''
    Input: A string
    Output: true if the word is not in the specified list and false if the word is in the list
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    Input: 'John'
    Output: True
    '''
    word_list = ['and', 'the', 'a', 'an']
    # Your code here:
    return(x not in word_list)

print(word_filter('and'))
print(word_filter('John'))

# With lambda functions:
word_filter_lambda = lambda x, word_list: x not in word_list
print(word_filter_lambda('and', ['and', 'the', 'a', 'an']))
print(word_filter_lambda('John', ['and', 'the', 'a', 'an']))
print(word_filter_lambda('John', ['and', 'the', 'a', 'an','John']))

False
True
False
True
False

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [ ]:
word_list = ['and', 'the', 'a', 'an']
prophet_filter = list(filter(lambda x: x not in word_list, prophet_flat))
prophet_filter

# Bonus Challenge - Part 1

Rewrite the `word_filter` function above to not be case sensitive.

In [12]:
def word_filter_case(x):
    word_list = ['and', 'the', 'a', 'an']
    # Your code here:
    return(x.lower() not in word_list)

print(word_filter_case('and'))
print(word_filter_case('And'))
print(word_filter_case('John'))
print(word_filter_case('john'))

# With lambda functions:
word_filter_case_lambda = lambda x, word_list: x.lower() not in word_list
print(word_filter_case_lambda('and', ['and', 'the', 'a', 'an']))
print(word_filter_case_lambda('And', ['and', 'the', 'a', 'an']))
print(word_filter_case_lambda('John', ['and', 'the', 'a', 'an']))
print(word_filter_case_lambda('john', ['and', 'the', 'a', 'an']))

False
False
True
True
False
False
True
True

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [13]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    # Your code here:
    # return a + " " + b
    return '{} {}'.format(a,b)
    
print(concat_space('Hola', 'Mundo'))

# With lambda functions:

concat_space_lambda = lambda a,b: '{} {}'.format(a,b)
print(concat_space_lambda('Hola', 'Mundo'))

Hola Mundo
Hola Mundo

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [14]:
# Your code here:
prophet_string = reduce(concat_space_lambda, prophet_filter)

In [ ]:
print(type(prophet_string))
print(prophet_string)

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [16]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

In [17]:
# Your code here:

pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [18]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    # Your code here:
    return x/24

hourly_lambda = lambda x: x/24

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [24]:
# Your code here:
pm25_hourly = pm25[['Iws','Is','Ir']].applymap(hourly_lambda)

In [25]:
pm25_hourly.head()

        Iws   Is   Ir
0  0.074583  0.0  0.0
1  0.205000  0.0  0.0
2  0.279583  0.0  0.0
3  0.410000  0.0  0.0
4  0.540417  0.0  0.0

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [39]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series  
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    # Your code here:
    # return(np.std(x)/(len(x)-1))
    return(np.std(x)/(x.count()-1))

print(sample_sd(pd.Series([1,2,3,4])))

# With lambda functions:
sample_sd_lambda = lambda x: np.std(x)/(x.count()-1)
print(sample_sd_lambda(pd.Series([1,2,3,4])))

0.37267799624996495
0.37267799624996495

In [40]:
pm25[['Iws','Is','Ir']].apply(sample_sd_lambda)

Iws    0.001141
Is     0.000017
Ir     0.000032
dtype: float64