# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [159]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [160]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [161]:
display(data.head())

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [162]:
qtyproducts = data.groupby(['CustomerID','ProductName']).agg({'Quantity':'sum'})
qtyproducts

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [163]:
pivot_table = pd.pivot_table(qtyproducts, values='Quantity',index=['ProductName'],columns=['CustomerID'])
pivot_table = pivot_table.fillna(0)
pivot_table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [164]:
from scipy.spatial.distance import pdist, squareform
distances = pd.DataFrame(1/(1 + squareform(pdist(pivot_table.T, 'euclidean'))), 
                         index=pivot_table.columns, columns=pivot_table.columns)
distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [165]:
sim = distances[33].sort_values(ascending=False)[1:6]
sim  =list(sim.index)
sim

[264, 3535, 3317, 2503, 3305]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [166]:
datatop5 = qtyproducts.loc[sim]
datatop5

                                           Quantity
CustomerID ProductName
264        Apricots - Halves                      1
           Apricots Fresh                         1
           Bacardi Breezer - Tropical             1
           Bagel - Plain                          1
           Banana - Leaves                        1
...                                             ...
3535       Tray - 16in Rnd Blk                    1
           Wanton Wrap                            1
           Wine - Blue Nun Qualitatswein          1
           Wine - Magnotta, Merlot Sr Vqa         1
           Yoghurt Tubes                          1

[270 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [174]:
df = datatop5 .groupby(['ProductName']).agg({'Quantity':'sum'})
df = df.sort_values('Quantity',ascending = False)
df

                               Quantity
ProductName
Butter - Unsalted                     3
Wine - Ej Gallo Sierra Valley         3
Towels - Paper / Kraft                3
Soup - Campbells Bean Medley          3
Wine - Blue Nun Qualitatswein         3
...                                 ...
Hinge W Undercut                      1
Ice Cream Bar - Hageen Daz To         1
Jagermeister                          1
Jolt Cola - Electric Blue             1
Yogurt - French Vanilla               1

[218 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [204]:
df2 = df.merge(pivot_table, left_on='ProductName', right_on='ProductName')
df2 = df2[['Quantity',33]]
df2 = df2[df2[33]==0]
display(df2.head(5))

                                  Quantity   33
ProductName
Baking Powder                           32  0.0
Guinea Fowl                             28  0.0
Cocoa Butter                            28  0.0
Thermometer Digital                     28  0.0
Muffin Chocolate Individual Wrap        28  0.0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [209]:
diction = {}
customers = list(set(data['CustomerID']))
for e in customers:
    sim = distances[e].sort_values(ascending=False)[1:6]
    sim  =list(sim.index)
    datatop5 = qtyproducts.loc[sim]
    df = datatop5 .groupby(['ProductName']).agg({'Quantity':'sum'})
    df = df.sort_values('Quantity',ascending = False)
    df2 = df.merge(pivot_table, left_on='ProductName', right_on='ProductName')
    df2 = df2[['Quantity',e]]
    df2 = list(df2.index[:5])        
    diction[e]=df2

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [219]:
dftop5 = pd.DataFrame(diction)
columnames = dftop5.columns
pd.melt(dftop5,value_vars=columnames)

      variable                             value
0        83973                     Baking Powder
1        83973                       Guinea Fowl
2        83973                      Cocoa Butter
3        83973               Thermometer Digital
4        83973  Muffin Chocolate Individual Wrap
...        ...                               ...
4995     65535         Appetizer - Mushroom Tart
4996     65535                  V8 - Berry Blend
4997     65535                    Fenngreek Seed
4998     65535                     Sauce - Rosee
4999     65535        Lemonade - Natural, 591 Ml

[5000 rows x 2 columns]

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [222]:
distances = pd.DataFrame(1/(1 + squareform(pdist(pivot_table.T, 'correlation'))), 
                         index=pivot_table.columns, columns=pivot_table.columns)
diction = {}
customers = list(set(data['CustomerID']))
for e in customers:
    sim = distances[e].sort_values(ascending=False)[1:6]
    sim  =list(sim.index)
    datatop5 = qtyproducts.loc[sim]
    df = datatop5 .groupby(['ProductName']).agg({'Quantity':'sum'})
    df = df.sort_values('Quantity',ascending = False)
    df2 = df.merge(pivot_table, left_on='ProductName', right_on='ProductName')
    df2 = df2[['Quantity',e]]
    df2 = list(df2.index[:5])        
    diction[e]=df2
dftop5 = pd.DataFrame(diction)
columnames = dftop5.columns
pd.melt(dftop5,value_vars=columnames)

      variable                        value
0        83973     Wine - White Cab Sauv.on
1        83973       Browning Caramel Glace
2        83973    Tea - Herbal Sweet Dreams
3        83973      Pastry - Choclate Baked
4        83973        Rice - Jasmine Sented
...        ...                          ...
4995     65535  Pastry - Butterscotch Baked
4996     65535                  Clam Nectar
4997     65535      Crab - Dungeness, Whole
4998     65535    Appetizer - Mushroom Tart
4999     65535         Coffee - Irish Cream

[5000 rows x 2 columns]