# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [216]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [217]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [218]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [219]:
dfnew= data.groupby(['CustomerID', 'ProductName']).agg({'Quantity': 'sum'})

In [220]:
dfnew

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [221]:
data2= data.pivot_table(index='ProductName',columns='CustomerID', values='Quantity', fill_value=0)

In [222]:
data2

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,1,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [223]:
from scipy.spatial.distance import pdist, squareform
distances = pdist(data2.T, 'euclidean')
print(squareform(distances))

[[  0.          10.72380529   9.64365076 ... 197.94948851 218.8241303
  203.79892051]
 [ 10.72380529   0.          10.67707825 ... 197.34994299 218.62525014
  203.95342606]
 [  9.64365076  10.67707825   0.         ... 197.32460566 218.02981447
  203.80628057]
 ...
 [197.94948851 197.34994299 197.32460566 ...   0.         266.9269563
  266.9269563 ]
 [218.8241303  218.62525014 218.02981447 ... 266.9269563    0.
  269.25824036]
 [203.79892051 203.95342606 203.80628057 ... 266.9269563  269.25824036
    0.        ]]

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [224]:
distances = pd.DataFrame(1/(1 + squareform(pdist(data2.T, 'euclidean'))),
index=data2.columns, columns=data2.columns)

In [225]:

distances['CustomerID'] = pd.Series(200)
distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97753,97769,97793,97900,97928,98069,98159,98185,98200,CustomerID
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.085297,0.093953,0.091747,0.087410,0.089695,0.085297,0.088913,0.088152,0.089695,...,0.005108,0.004996,0.005421,0.004920,0.005023,0.004880,0.005026,0.004549,0.004883,NaN
200,0.085297,1.000000,0.085638,0.085297,0.080070,0.083020,0.084959,0.083651,0.085638,0.087047,...,0.005121,0.005014,0.005448,0.004925,0.005032,0.004909,0.005042,0.004553,0.004879,NaN
264,0.093953,0.085638,1.000000,0.088152,0.089301,0.087047,0.085638,0.086333,0.087047,0.087047,...,0.005115,0.004996,0.005441,0.004932,0.005055,0.004894,0.005042,0.004566,0.004883,NaN
356,0.091747,0.085297,0.088152,1.000000,0.085983,0.086688,0.085983,0.091325,0.085983,0.087410,...,0.005111,0.004999,0.005437,0.004920,0.005036,0.004871,0.005042,0.004563,0.004886,NaN
412,0.087410,0.080070,0.089301,0.085983,1.000000,0.085638,0.085638,0.089301,0.084959,0.087779,...,0.005131,0.004996,0.005441,0.004925,0.005042,0.004876,0.005039,0.004568,0.004903,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.005023,0.005032,0.005055,0.005036,0.005042,0.005042,0.005042,0.005039,0.005039,0.005033,...,0.003945,0.003749,0.004045,0.003964,1.000000,0.003945,0.003945,0.003579,0.003608,NaN
98069,0.004880,0.004909,0.004894,0.004871,0.004876,0.004877,0.004882,0.004880,0.004886,0.004886,...,0.003765,0.003716,0.003782,0.003888,0.003945,1.000000,0.003907,0.003608,0.003765,NaN
98159,0.005026,0.005042,0.005042,0.005042,0.005039,0.005039,0.005039,0.005033,0.005045,0.005036,...,0.003984,0.003852,0.003888,0.003817,0.003945,0.003907,1.000000,0.003732,0.003732,NaN
98185,0.004549,0.004553,0.004566,0.004563,0.004568,0.004556,0.004556,0.004563,0.004558,0.004547,...,0.003469,0.003653,0.003749,0.003565,0.003579,0.003608,0.003732,1.000000,0.003700,NaN
98200,0.004883,0.004879,0.004883,0.004886,0.004903,0.004897,0.004885,0.004883,0.004877,0.004895,...,0.003732,0.003817,0.003817,0.003782,0.003608,0.003765,0.003732,0.003700,1.000000,NaN

In [226]:
similarities = distances[33].sort_values(ascending=False)[1:6]
simil = list(similarities.index)

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [227]:

data3 = dfnew.loc[simil]

In [228]:
data3

                                           Quantity
CustomerID ProductName
264        Apricots - Halves                      1
           Apricots Fresh                         1
           Bacardi Breezer - Tropical             1
           Bagel - Plain                          1
           Banana - Leaves                        1
...                                             ...
3909       Wine - Charddonnay Errazuriz           2
           Wine - Fume Blanc Fetzer               1
           Wine - Magnotta, Merlot Sr Vqa         1
           Wine - Toasted Head                    1
           Wine - Valpolicella Masi               1

[282 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [229]:
data3= data3.groupby(['ProductName']).agg({'Quantity': 'sum'})

In [230]:
data4 = data3.sort_values(by='Quantity', ascending=False)

In [231]:
data4

                               Quantity
ProductName
Salsify, Organic                      4
Quiche Assorted                       3
Chocolate - Dark                      3
Wine - Charddonnay Errazuriz          3
Bay Leaf                              3
...                                 ...
Gatorade - Xfactor Berry              1
Gloves - Goldtouch Disposable         1
Grouper - Fresh                       1
Hinge W Undercut                      1
Yogurt - French Vanilla               1

[235 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [232]:
data5 = dfnew.loc[[200]]
data5

                                              Quantity
CustomerID ProductName
200        Bacardi Breezer - Tropical                1
           Bagel - Plain                             1
           Bar - Granola Trail Mix Fruit Nut         1
           Beef - Ground Medium                      1
           Beef - Montreal Smoked Brisket            1
...                                                ...
           Wiberg Super Cure                         1
           Wine - Gato Negro Cabernet                1
           Wine - Ruffino Chianti                    1
           Wine - White, Colubia Cresh               1
           Yogurt - Blueberry, 175 Gr                1

[72 rows x 1 columns]

In [233]:
data6 = data4.merge(data2[200],on=['ProductName'])

In [234]:
data7 = data6.loc[data6[200]== 0]

In [235]:
data7

                               Quantity  200
ProductName
Salsify, Organic                      4    0
Chocolate - Dark                      3    0
Wine - Charddonnay Errazuriz          3    0
Bay Leaf                              3    0
Oranges - Navel, 72                   3    0
...                                 ...  ...
Gatorade - Xfactor Berry              1    0
Gloves - Goldtouch Disposable         1    0
Grouper - Fresh                       1    0
Hinge W Undercut                      1    0
Yogurt - French Vanilla               1    0

[199 rows x 2 columns]

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [236]:
allcust = {}
unique = list(data["CustomerID"].values)

In [237]:
unique

[61288,
 77352,
 40094,
 23548,
 78981,
 83106,
 11253,
 35107,
 15088,
 26031,
 26031,
 86595,
 46715,
 91013,
 69931,
 19753,
 9546,
 10224,
 72846,
 28976,
 3267,
 19260,
 76530,
 30196,
 48818,
 15166,
 11443,
 79060,
 82597,
 62411,
 42611,
 45420,
 83495,
 47122,
 30815,
 53198,
 18591,
 62034,
 1428,
 2187,
 55162,
 22345,
 81876,
 48641,
 81034,
 29681,
 87947,
 28867,
 69967,
 94420,
 83158,
 84364,
 44742,
 7772,
 47303,
 75791,
 77756,
 97324,
 97324,
 13912,
 52700,
 21734,
 6817,
 21095,
 28875,
 89588,
 1034,
 54827,
 29287,
 11102,
 52155,
 50748,
 88552,
 80938,
 60481,
 92168,
 66232,
 64348,
 37510,
 44408,
 89254,
 477,
 51483,
 97201,
 42157,
 52091,
 86065,
 18027,
 93882,
 42303,
 32010,
 53997,
 63033,
 76475,
 98185,
 84779,
 82146,
 54495,
 3903,
 3903,
 79854,
 25449,
 85496,
 95017,
 33759,
 43652,
 35873,
 97769,
 891,
 85161,
 25327,
 25624,
 68416,
 44090,
 71595,
 68336,
 38497,
 10016,
 36751,
 36751,
 61288,
 58421,
 45498,
 50774,
 79997,
 45313,
 55715,
 55715,
 40901,
 1577,
 3909,
 18480,
 41405,
 85552,
 412,
 59399,
 87849,
 26458,
 26458,
 13354,
 92673,
 45759,
 55930,
 62184,
 62184,
 70512,
 19753,
 51451,
 46046,
 1754,
 2915,
 81591,
 78104,
 81179,
 72846,
 9047,
 85292,
 95819,
 74237,
 264,
 49159,
 49159,
 81845,
 4644,
 41538,
 40863,
 83495,
 60759,
 17760,
 2776,
 42802,
 26353,
 25420,
 98200,
 69027,
 87030,
 27669,
 82432,
 20331,
 75022,
 14012,
 55162,
 10418,
 24271,
 86662,
 81034,
 87947,
 22461,
 78054,
 81715,
 65757,
 4261,
 29287,
 29287,
 15420,
 79189,
 1839,
 27841,
 51631,
 64301,
 88245,
 1008,
 18760,
 64202,
 52154,
 52154,
 70354,
 68680,
 59017,
 59017,
 59017,
 44408,
 80167,
 14910,
 5921,
 45786,
 477,
 60612,
 56374,
 883,
 1066,
 6447,
 38125,
 77682,
 70324,
 17263,
 5177,
 95078,
 27045,
 76511,
 92255,
 47913,
 67428,
 92418,
 72433,
 31373,
 25995,
 6001,
 84779,
 2754,
 75762,
 54547,
 3535,
 79854,
 77950,
 58413,
 48611,
 48611,
 33759,
 90284,
 50416,
 58064,
 70624,
 97063,
 97769,
 97769,
 33132,
 48858,
 25421,
 78297,
 4723,
 55124,
 70986,
 85161,
 33749,
 46146,
 64597,
 82440,
 25624,
 25624,
 59925,
 89272,
 89272,
 46971,
 51834,
 22408,
 464,
 81324,
 44090,
 9302,
 41319,
 25703,
 47845,
 96684,
 10016,
 50461,
 50461,
 61288,
 42087,
 42087,
 57168,
 58421,
 45498,
 45498,
 63891,
 66709,
 56786,
 79997,
 51224,
 15088,
 73190,
 21973,
 8711,
 65678,
 12529,
 46551,
 55930,
 82922,
 36566,
 36566,
 41747,
 70017,
 2915,
 73031,
 77696,
 23515,
 7223,
 15920,
 28191,
 2329,
 37873,
 57241,
 45846,
 65910,
 60378,
 30196,
 15166,
 22204,
 31549,
 47122,
 649,
 91783,
 20006,
 81281,
 69027,
 27669,
 83608,
 10739,
 24137,
 68627,
 1336,
 34657,
 14012,
 15986,
 22345,
 51934,
 86028,
 70517,
 87947,
 28867,
 10311,
 56887,
 28984,
 9260,
 94910,
 29656,
 18680,
 52155,
 87285,
 65731,
 65731,
 79458,
 97928,
 45965,
 40934,
 5832,
 2556,
 60969,
 29998,
 29998,
 37510,
 87967,
 38890,
 62101,
 36200,
 96088,
 67473,
 9771,
 6447,
 90193,
 77682,
 72829,
 70324,
 42157,
 74213,
 82161,
 29910,
 55380,
 86111,
 46250,
 65650,
 76511,
 92255,
 67428,
 756,
 6001,
 2754,
 80849,
 30575,
 30575,
 32180,
 13681,
 57606,
 19526,
 33759,
 77037,
 90284,
 43652,
 97063,
 27160,
 4723,
 6352,
 6352,
 57090,
 27546,
 57024,
 73614,
 25327,
 92543,
 93445,
 61923,
 90054,
 95372,
 44090,
 84575,
 71595,
 68336,
 71085,
 43529,
 21177,
 59710,
 694,
 57654,
 32785,
 78718,
 6185,
 61288,
 61288,
 1594,
 28756,
 77352,
 54857,
 55245,
 58421,
 42612,
 62094,
 62094,
 73190,
 3909,
 5968,
 41405,
 59399,
 91013,
 90069,
 13354,
 8917,
 32386,
 90776,
 69931,
 44667,
 67682,
 81981,
 70017,
 11325,
 72305,
 92951,
 91652,
 29444,
 15920,
 95819,
 57241,
 16664,
 80782,
 21027,
 67058,
 44030,
 22204,
 17404,
 22308,
 82493,
 83495,
 41829,
 30815,
 19442,
 19442,
 71298,
 38186,
 1336,
 36179,
 10418,
 81034,
 81034,
 55381,
 44742,
 7772,
 200,
 56887,
 66987,
 81715,
 84577,
 9260,
 36829,
 1034,
 5230,
 26375,
 26375,
 85642,
 41843,
 63368,
 13699,
 80184,
 61417,
 79189,
 27841,
 70363,
 52479,
 88245,
 58535,
 66632,
 5832,
 46807,
 18760,
 36201,
 91220,
 13118,
 80167,
 14910,
 33,
 42399,
 58366,
 19312,
 1920,
 58874,
 5224,
 6543,
 5104,
 1066,
 67582,
 67582,
 67582,
 14501,
 17263,
 90777,
 5177,
 30803,
 80898,
 53997,
 64575,
 27760,
 67428,
 78903,
 68829,
 84779,
 64775,
 82146,
 82620,
 82620,
 1435,
 55281,
 25449,
 35531,
 85496,
 57606,
 33759,
 76389,
 71844,
 72546,
 97282,
 94951,
 87920,
 87920,
 87920,
 79470,
 63295,
 41834,
 4595,
 62277,
 3885,
 46146,
 85246,
 64597,
 57024,
 82057,
 52139,
 68416,
 53226,
 56319,
 41319,
 68336,
 38497,
 59710,
 57654,
 43270,
 50461,
 61288,
 61288,
 29258,
 90347,
 40099,
 45549,
 50774,
 56786,
 42612,
 78981,
 38307,
 26974,
 67636,
 93918,
 61750,
 1577,
 45042,
 65785,
 13354,
 11441,
 82922,
 62184,
 41747,
 57977,
 9546,
 81179,
 28368,
 31409,
 91652,
 60515,
 60515,
 92637,
 2329,
 18293,
 95819,
 11023,
 28976,
 28976,
 4644,
 15166,
 11443,
 68699,
 23377,
 41538,
 16971,
 11883,
 91783,
 81281,
 30815,
 20134,
 71298,
 10739,
 68627,
 43589,
 62279,
 68298,
 82432,
 44859,
 60862,
 23451,
 23451,
 55381,
 28867,
 94420,
 84364,
 43345,
 75791,
 80372,
 80372,
 200,
 55780,
 64862,
 80890,
 21095,
 12598,
 12598,
 38405,
 49491,
 52155,
 81012,
 80938,
 51121,
 5678,
 92168,
 92168,
 17097,
 97928,
 58535,
 75793,
 39280,
 39280,
 38890,
 91220,
 91220,
 39552,
 57497,
 49474,
 58366,
 22705,
 87559,
 19312,
 19312,
 36200,
 50535,
 5224,
 63742,
 91713,
 25209,
 25209,
 5104,
 67061,
 38358,
 16614,
 62242,
 62242,
 27821,
 87408,
 87408,
 60781,
 80898,
 53997,
 74784,
 63033,
 27760,
 53176,
 17407,
 84779,
 35575,
 1435,
 88533,
 57606,
 39537,
 61601,
 20901,
 43652,
 71844,
 77628,
 78966,
 35873,
 55876,
 59831,
 48858,
 98069,
 18720,
 78297,
 29095,
 4723,
 58639,
 82057,
 82057,
 52139,
 21177,
 21177,
 694,
 61288,
 55245,
 18728,
 79290,
 76281,
 45313,
 72428,
 31820,
 94599,
 67636,
 7623,
 22939,
 14977,
 40985,
 46910,
 45042,
 65785,
 47605,
 97093,
 13354,
 92673,
 31100,
 31100,
 31100,
 73353,
 42776,
 72063,
 19753,
 36566,
 2915,
 27672,
 73031,
 81591,
 38265,
 80380,
 6317,
 58353,
 73609,
 15920,
 85292,
 55875,
 37873,
 15027,
 32324,
 65910,
 12888,
 80782,
 96524,
 15166,
 46036,
 22204,
 22308,
 92525,
 82597,
 62411,
 18706,
 83495,
 60759,
 91777,
 98200,
 98200,
 20134,
 83608,
 27410,
 1428,
 15986,
 55932,
 669,
 58652,
 51934,
 59108,
 24271,
 89110,
 29681,
 84280,
 83158,
 43345,
 85480,
 63086,
 75791,
 80372,
 56887,
 23165,
 52700,
 85032,
 14782,
 14782,
 6817,
 12059,
 38405,
 1034,
 66177,
 55580,
 41843,
 49491,
 25651,
 25651,
 50748,
 81012,
 84349,
 32575,
 52479,
 51631,
 93417,
 79458,
 40934,
 40934,
 54001,
 50435,
 64348,
 77574,
 46807,
 19074,
 52154,
 32558,
 29998,
 87967,
 42426,
 45786,
 20433,
 50670,
 13823,
 6543,
 37619,
 5104,
 85524,
 38125,
 63803,
 38358,
 8316,
 76511,
 47913,
 63033,
 76475,
 68829,
 45754,
 15415,
 84779,
 35575,
 3305,
 65830,
 61601,
 33759,
 77037,
 97282,
 6367,
 7543,
 33132,
 18720,
 41834,
 29095,
 58639,
 20907,
 79068,
 92543,
 52139,
 90508,
 95372,
 53226,
 31075,
 8367,
 72750,
 37495,
 78718,
 61288,
 61288,
 61288,
 11933,
 90347,
 28756,
 38703,
 63891,
 28751,
 9132,
 56786,
 31820,
 62094,
 67636,
 67636,
 1577,
 3909,
 18480,
 2686,
 1534,
 59399,
 91013,
 84703,
 11441,
 44667,
 77814,
 67682,
 27672,
 39813,
 76983,
 28368,
 91652,
 15920,
 47305,
 55875,
 15027,
 65910,
 60378,
 32584,
 89573,
 15166,
 15166,
 46036,
 22901,
 85902,
 41538,
 27209,
 18688,
 82597,
 82597,
 25013,
 42611,
 87303,
 18706,
 83495,
 2776,
 51718,
 69027,
 20648,
 58321,
 20125,
 10739,
 97495,
 68627,
 20331,
 1336,
 2187,
 75022,
 81034,
 50004,
 20446,
 20446,
 28867,
 88318,
 88318,
 22461,
 63086,
 66987,
 78896,
 78896,
 78489,
 78489,
 48963,
 25040,
 12598,
 38405,
 58165,
 1034,
 ...]

In [ ]:
for c in unique:
    similarities = distances[c].sort_values(ascending=False)[1:6]
    simil = list(similarities.index)
    final = dfnew.loc[simil]
    data= final.groupby(['ProductName']).agg({'Quantity': 'sum'}).reset_index()
    data = data.sort_values(by='Quantity', ascending=False)
    data = data.merge(data2[c],on=['ProductName'])
    data = data.loc[data[c]== 0]
    data = data[1:6]
    data = list(data.ProductName)
    allcust[c] = data

In [ ]:
allcust

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [ ]:
dffinal = pd.DataFrame(allcust)

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [ ]:
from scipy.spatial.distance import pdist, squareform
distances = pdist(data2.T, 'jaccard')
print(squareform(distances))

In [ ]:
distances = pd.DataFrame(1/(1 + squareform(pdist(data2.T, 'jaccard'))),
index=data2.columns, columns=data2.columns)/

In [ ]:
distances['CustomerID'] = pd.Series(200)
distances

In [ ]:
allcust = {}
unique = list(data["CustomerID"].values)

In [ ]:
for c in unique:
    similarities = distances[c].sort_values(ascending=False)[1:6]
    simil = list(similarities.index)
    final = dfnew.loc[simil]
    data= final.groupby(['ProductName']).agg({'Quantity': 'sum'}).reset_index()
    data = data.sort_values(by='Quantity', ascending=False)
    data = data.merge(data2[c],on=['ProductName'])
    data = data.loc[data[c]== 0]
    data = data[1:6]
    data = list(data.ProductName)
    allcust[c] = data

In [ ]:
dffinal = pd.DataFrame(allcust)