## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here
import random

sample_list_1 = random.sample(range(100),80)

print (sample_list_1)

[97, 68, 9, 48, 17, 7, 32, 55, 74, 3, 24, 94, 73, 2, 36, 71, 11, 51, 90, 6, 79, 13, 78, 4, 98, 41, 70, 86, 28, 85, 20, 46, 18, 5, 66, 29, 34, 14, 59, 21, 45, 22, 81, 65, 40, 30, 31, 52, 35, 57, 38, 23, 76, 91, 8, 67, 42, 75, 1, 72, 93, 16, 82, 37, 77, 53, 50, 69, 87, 12, 89, 39, 63, 58, 84, 44, 62, 80, 64, 33]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set1 = set(sample_list_1)

print (len(sample_list_1))
print (len(set1))

80
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here


sample_list_2 = []

n = 0

for i in range(80):

    n = random.randint (0,101)
    
    sample_list_2.append (n)

print (sample_list_2)

[28, 4, 81, 60, 15, 48, 19, 38, 60, 57, 4, 28, 42, 58, 31, 32, 9, 44, 0, 36, 15, 4, 81, 44, 55, 41, 17, 50, 18, 56, 2, 51, 55, 95, 3, 83, 7, 50, 58, 4, 5, 88, 13, 8, 37, 27, 23, 78, 78, 53, 54, 61, 89, 28, 33, 79, 56, 92, 95, 58, 36, 76, 76, 68, 96, 55, 75, 90, 79, 37, 57, 10, 76, 56, 53, 19, 70, 94, 49, 42]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here

set2 = set(sample_list_2)

print (len(set2))

#No, se han eliminado los 27 números que aparecían repetidos en la lista inicial.

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
# Your code here

print (set1.difference(set2))

set3 = set1.difference(set2)

{1, 6, 11, 12, 14, 16, 20, 21, 22, 24, 29, 30, 34, 35, 39, 40, 45, 46, 52, 59, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 77, 80, 82, 84, 85, 86, 87, 91, 93, 97, 98}
{1, 6, 11, 12, 14, 16, 20, 21, 22, 24, 29, 30, 34, 35, 39, 40, 45, 46, 52, 59, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 77, 80, 82, 84, 85, 86, 87, 91, 93, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
# Your code here

print (set2.difference(set1))

set4 = set2.difference(set1)

{0, 96, 88, 10, 15, 92, 49, 19, 83, 54, 56, 27, 60, 61, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
# Your code here
set5 = set1.intersection(set2)

print (set5)

{2, 3, 4, 5, 7, 8, 9, 13, 17, 18, 23, 28, 31, 32, 33, 36, 37, 38, 41, 42, 44, 48, 50, 51, 53, 55, 57, 58, 68, 70, 75, 76, 78, 79, 81, 89, 90, 94}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [37]:
# Your code here

# la suma de la diferencia entre ambas tuplas y su intersección da el número de elementos de la tupla original

print(len(set1) == len(set3)+len(set5)) 
print(len (set2) == len(set4)+ len(set5))

# la intersección siempre será menor o igual que los set originales

len(set5) <= len(set1) 
len(set5) <= len(set2)

True
True

True

#### Create an empty set called `set6`.

In [39]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [40]:
# Your code here

print(set6)
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)

set()
{1, 6, 11, 12, 14, 16, 20, 21, 22, 24, 29, 30, 34, 35, 39, 40, 45, 46, 52, 59, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 77, 80, 82, 84, 85, 86, 87, 91, 93, 97, 98}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 50, 51, 52, 53, 55, 57, 58, 59, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 93, 94, 97, 98}

#### Check if `set1` and `set6` are equal.

In [42]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here