## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [8]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [9]:
# Your code here

import random

c = range(0, 100)

sample_list_1 = random.sample(c, 80)

print(len(sample_list_1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))
print(set1)
print(type(set1))

80
{0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 69, 71, 73, 75, 76, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}
<class 'set'>

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here

c = range(0, 100)

sample_list_2 = random.sample(c, 80)

print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))
print(set2)
print(type(set2))

80
{0, 1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 32, 33, 35, 36, 37, 38, 40, 41, 42, 44, 46, 47, 48, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 64, 65, 66, 67, 69, 70, 71, 72, 75, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
<class 'set'>

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
# Your code here

set3 = set1 - set2

print(set3)
print(len(set3))

{34, 7, 8, 9, 39, 73, 76, 45, 78, 54, 88, 57, 26, 62, 31}
15

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
# Your code here

set4 = set2 - set1

print(set4)
print(len(set4))

{3, 35, 6, 70, 72, 77, 60, 92, 80, 81, 19, 52, 91, 28, 30}
15

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [17]:
# Your code here

set5 = set2.intersection(set1) 

print(set5)
print(len(set5))

{0, 1, 2, 4, 5, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 27, 29, 32, 33, 36, 37, 38, 40, 41, 42, 44, 46, 47, 48, 50, 51, 53, 55, 56, 58, 59, 61, 64, 65, 66, 67, 69, 71, 75, 79, 82, 83, 84, 85, 86, 87, 89, 90, 93, 94, 95, 96, 97, 98, 99}
65

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [19]:
# Your code here


print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len(set1) + len(set2) == len(set3) + len(set4) + 2*len(set5)

80
80
15
15
65

True

#### Create an empty set called `set6`.

In [20]:
# Your code here

set6 = set()

print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
# Your code here
print(set3)
print(set5)

set6.update(set5)
set6.update(set3)

print(set6)
print(len(set6))

{34, 7, 8, 9, 39, 73, 76, 45, 78, 54, 88, 57, 26, 62, 31}
{0, 1, 2, 4, 5, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 27, 29, 32, 33, 36, 37, 38, 40, 41, 42, 44, 46, 47, 48, 50, 51, 53, 55, 56, 58, 59, 61, 64, 65, 66, 67, 69, 71, 75, 79, 82, 83, 84, 85, 86, 87, 89, 90, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 69, 71, 73, 75, 76, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}
80

#### Check if `set1` and `set6` are equal.

In [22]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [23]:
# Your code here

x = set2.issubset(set1)

print(x)

y = set3.issubset(set1)

print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# Your code here

set7 = set3.union(set4, set5)

print(set7)

set8 = set7.union(set1, set2)

print(set8)
print(len(set8))

set7 == set8

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
95

True

#### Using the `pop` method, remove the first element from `set1`.

In [25]:
# Your code here

set1.pop()

print(set1)

{1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 69, 71, 73, 75, 76, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

removed = set1.difference(list_to_remove)

print(removed)

{2, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 32, 33, 34, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 57, 58, 62, 64, 65, 66, 67, 73, 75, 76, 78, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98}