# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [10]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [15]:
# Your code here:
print(list(set(salaries.Department)))
salaries['Department'].value_counts()

['BOARD OF ELECTION', 'BUILDINGS', 'HEALTH', 'PROCUREMENT', "MAYOR'S OFFICE", 'CITY COUNCIL', 'BUDGET & MGMT', 'ADMIN HEARNG', 'DISABILITIES', 'CITY CLERK', 'TREASURER', 'WATER MGMNT', 'COMMUNITY DEVELOPMENT', 'HUMAN RELATIONS', 'TRANSPORTN', 'POLICE', 'FAMILY & SUPPORT', 'LAW', 'CULTURAL AFFAIRS', 'DoIT', 'ANIMAL CONTRL', 'POLICE BOARD', 'GENERAL SERVICES', 'HUMAN RESOURCES', 'AVIATION', 'OEMC', 'STREETS & SAN', 'BUSINESS AFFAIRS', 'BOARD OF ETHICS', 'COPA', 'INSPECTOR GEN', 'FINANCE', 'FIRE', 'LICENSE APPL COMM', 'PUBLIC LIBRARY']

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [33]:
# Your code here:
# H0: the expected value (mean) of the sample is equal to the given population mean (30)
# H1: The hourly wage of all hourly workers is significantly different from $30/hr.

# ttest_1samp: Two-sided test.
print('sample mean:',round((salaries['Hourly Rate'][salaries['Hourly Rate'].notnull()]).mean(),2))

from scipy.stats import ttest_1samp
# print(ttest_1samp(salaries['Hourly Rate'][salaries['Hourly Rate'].notnull()], 30))
# print(ttest_1samp(salaries['Hourly Rate'], 30, nan_policy = 'omit'))
statistic, pvalue = ttest_1samp(salaries['Hourly Rate'], 30, nan_policy = 'omit')
print('statistic:', round(statistic,2))
print('pvalue:', round(pvalue,2))

# pvalue < 0.05: We reject the null hypothesis = The hourly wage of all hourly workers is significantly different from $30/hr.

sample mean: 32.79
statistic: 20.62
pvalue: 0.0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [43]:
# Your code here:

# H0: Mean salaries in the police force == population mean ($86000/year).
# H1: Salaries in the police force are higher than $86000/year.

police_salary = salaries['Annual Salary'][salaries['Department']=='POLICE']
print('sample mean:',round(police_salary.mean(),2))

statistic, pvalue = ttest_1samp(police_salary, 86000, nan_policy = 'omit')
print('statistic:', round(statistic,2))
print('pvalue/2:', round(pvalue/2,2))

# The one-sided tests can be backed out from the two-sided tests.
# (With symmetric distributions one-sided p-value is just half of the two-sided pvalue)
# This means that given p and t values from a two-tailed test, you would reject the null hypothesis of a 
# greater-than test when p/2 < alpha and t > 0, and of a less-than test when p/2 < alpha and t < 0.

# pvalue/2 < 0.05 and t>0: We reject the null hypothesis = Salaries in the police force are higher than $86000/year.

sample mean: 86486.41
statistic: 3.08
pvalue/2: 0.0

Using the `crosstab` function, find the department that has the most hourly workers.

In [49]:
# Your code here:
pd.crosstab(salaries['Department'],salaries['Salary or Hourly']).sort_values('Hourly', ascending=False)

# STREETS & SAN has the most hourly workers: 1862 workers.

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [52]:
# Your code here:
# H1: 'STREETS & SAN' hourly wage is less than $35/hour. 

streets_salary = salaries['Hourly Rate'][salaries['Department']=='STREETS & SAN']
print('sample mean:',round(streets_salary.mean(),2))

statistic, pvalue = ttest_1samp(streets_salary, 35, nan_policy = 'omit')
print('statistic:', round(statistic,2))
print('pvalue/2:', round(pvalue/2,2))

# pvalue/2 < 0.05 and t<0: We reject the null hypothesis = 'STREETS & SAN' hourly wage is less than $35/hour.

sample mean: 33.73
statistic: -9.57
pvalue/2: 0.0

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [76]:
# Your code here:
from scipy.stats import t
from scipy.stats import sem

# interval(alpha, df, loc=0, scale=1)

low, high = t.interval(0.95, len(salaries)-1,
                     loc=salaries['Hourly Rate'][salaries['Salary or Hourly'] == 'Hourly'].mean(),
                     scale=sem(salaries['Hourly Rate'][salaries['Salary or Hourly'] == 'Hourly']))

print('Sample mean:', round(salaries['Hourly Rate'][salaries['Salary or Hourly'] == 'Hourly'].mean(),2))
print('Confidence interval: We are 95% sure that the mean of the population is within:',round(low,2),'and', round(high,2))

Sample mean: 32.79
Confidence interval: We are 95% sure that the mean of the population is within: 32.52 and 33.05

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [87]:
# Your code here:
low, high = t.interval(0.95, len(salaries)-1,
                     loc=salaries[salaries['Department'] == 'POLICE']['Annual Salary'][salaries['Salary or Hourly'] == 'Salary'].mean(),
                     scale=sem(salaries[salaries['Department'] == 'POLICE']['Annual Salary'][salaries['Salary or Hourly'] == 'Salary']))

print('Sample mean:', round(salaries[salaries['Department'] == 'POLICE']['Annual Salary'][salaries['Salary or Hourly'] == 'Salary'].mean(),2))
print('Confidence interval: We are 95% sure that the mean of the population is within:',round(low,2),'and', round(high,2))

Sample mean: 86486.41
Confidence interval: We are 95% sure that the mean of the population is within: 86177.07 and 86795.76

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [3]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
print(salaries['Salary or Hourly'].value_counts(normalize=True)*100)

proportions_ztest(len(salaries[salaries['Salary or Hourly'] == 'Hourly']), len(salaries), 0.25, alternative ='two-sided')

# pvalue < 0.05: The number of hourly workers in the City of Chicago is significantly different from 25%.

Salary    75.824971
Hourly    24.175029
Name: Salary or Hourly, dtype: float64

(-3.5099964213703005, 0.0004481127249057967)