# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries["Department"].value_counts()
# now we have a list of different departments and the number of employees of each one

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

---
# ALL RIGHT: 
I'll use the t test because I suppose I don't know the  mean and the full population in fact, i know all workers (but not all salaries due to missing arguments), so it is handy use the t-test. 

As far as i am concertned, if I knew all inputs I should use z test.
We need to check the 2 sides-hypothesis that mu!=k ; k==30$/h
- scipy.stats.ttest_1samp(a, popmean, axis=0)[source]¶
    - Calculates the T-test for the mean of ONE group of scores.
    - This is a two-sided test for the null hypothesis that the expected value (mean) of a sample of independent observations a is equal to the given population mean, popmean.


first, remove nans
-------------------------
--------------------------------

In [7]:
hypo_test=salaries["Hourly Rate"].dropna()
# i dropped like 25k results from 0.2M, not "tOO, too much"

In [8]:
# now we do not have nan values and we are ready to perform the calculus
check=stats.ttest_1samp(hypo_test,30)
display(check)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [9]:
# The result is the following:
# p-value<5% => se hacepta la hipótesis nula de que los trabajadores ganan 30€/h

In [10]:
# para usar el help de stats
#?stats.ttest_1samp

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

## 1 tailed approach

# when we're working with 1 tailed approach, p/2 < 0.05 to accept the null hypothesis

https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy

In [11]:
# 1st, select all rows with envolving police
# Your code here:
data_police=salaries[["Department","Annual Salary","Hourly Rate"]]
#display(data_police)
data_anual_police=data_police.loc[data_police.Department=="POLICE"]
data_anual_police_clean=data_anual_police.dropna(subset=["Annual Salary"])

# display(data_anual_police)
#
# Fine, lets check if there's not nan
# data_anual_police.isna()

In [12]:
data_anual_police_clean["Annual Salary"].isna().sum()

0

In [13]:
check_salary_police=stats.ttest_1samp(data_anual_police_clean["Annual Salary"],86000)
display(check_salary_police)
# again, the assumption is true

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

- ## The easy way to find the department with more salary workers

In [14]:
data_most=salaries[["Department","Salary or Hourly"]]

In [15]:
# with the following command we take all rows with "salary" in "salary or hourly" column
data_most.loc[data_most["Salary or Hourly"]=="Salary"]
#display(data_most)
data_most["Department"].value_counts()
# we'll see that police has the most salary workers

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

- ## The crosstab

In [16]:
pd.crosstab(data_most["Department"],data_most["Salary or Hourly"]).sort_values("Salary", ascending=False)

Salary or Hourly       Hourly  Salary
Department
POLICE                     10   13404
FIRE                        2    4639
OEMC                     1273     829
PUBLIC LIBRARY            299     716
AVIATION                 1082     547
FINANCE                    44     516
HEALTH                      3     485
TRANSPORTN                725     415
LAW                        40     367
WATER MGMNT              1513     366
CITY COUNCIL               64     347
STREETS & SAN            1862     336
FAMILY & SUPPORT          287     328
BUILDINGS                   0     269
GENERAL SERVICES          765     215
COMMUNITY DEVELOPMENT       4     203
BUSINESS AFFAIRS            7     164
COPA                        0     116
BOARD OF ELECTION           0     107
DoIT                        0      99
PROCUREMENT                 2      90
INSPECTOR GEN               0      87
CITY CLERK                  0      84
MAYOR'S OFFICE              8      77
HUMAN RESOURCES             4      75
ANIMAL CONTRL              19      62
CULTURAL AFFAIRS            7      58
BUDGET & MGMT               2      44
ADMIN HEARNG                0      39
DISABILITIES                0      28
TREASURER                   0      22
HUMAN RELATIONS             0      16
BOARD OF ETHICS             0       8
POLICE BOARD                0       2
LICENSE APPL COMM           0       1

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

## He hecho mal esta parte, pero sé hacerla
- Coger el crosstab de arriba
- ordenarlo por hourly
- hacer lo de siempre pero cogiendo los hourly
- ver si se cumple la null hypothesis de 35€/h

(aquí lo dejo indicado, que me voy a las 6 a la kaggle meetup)

In [27]:
# Your code here:
data_police=salaries[["Department","Annual Salary","Hourly Rate"]]
#display(data_police)
data_anual_police=data_police.loc[data_police.Department=="POLICE"]
data_final=data_anual_police.dropna(subset=["Hourly Rate"])

In [28]:
# check it out
data_final["Hourly Rate"].isna().sum()

0

In [29]:
# now our question:
check_hourly_rate=stats.ttest_1samp(data_final["Hourly Rate"],35)
display(check_hourly_rate)

Ttest_1sampResult(statistic=-825.6069638307035, pvalue=2.8568487331366325e-23)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [38]:
# Your code here:
# Your code here:
data_intervals=salaries[["Salary or Hourly","Hourly Rate"]]
#display(data_police)
data_intervals.loc[data_intervals["Salary or Hourly"]=="Salary"]
data3=data_intervals.dropna(subset=["Hourly Rate"])

## Confidence interval

In [40]:
from scipy.stats import sem, t
from scipy import mean
confidence = 0.95   #95% de intervalo de confianza
data = data3["Hourly Rate"]   # con lo que vamos a operar

n = len(data)
m = mean(data)
std_err = sem(data)
h = std_err * t.ppf((1 + confidence) / 2, n - 1)

start = m - h
end = m + h
print(start,"\n",end)

32.52345834488425
 33.05365708767623

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [49]:
# Your code here:
data_police=salaries[["Department","Salary or Hourly","Hourly Rate"]]
data_anual_police=data_police.loc[data_police.Department=="POLICE"]
data_anual_police=data_anual_police.dropna(subset=["Hourly Rate"])

In [50]:
data3b=data_anual_police.loc[data_anual_police["Salary or Hourly"]=="Salary"]

In [51]:
# esto no lo he terminado

Empty DataFrame
Columns: [Department, Salary or Hourly, Hourly Rate]
Index: []

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [23]:
# Your code here: