# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [28]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [29]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [30]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [31]:
salaries.shape

(33183, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [32]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [33]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [34]:
# Your code here:
salaries.groupby(['Department']).size()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [51]:
# Your code here:
from scipy import stats
#Hourly Rate
d = salaries[salaries['Hourly Rate'].notnull()]['Hourly Rate']
stats.ttest_1samp(d,30.0)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [143]:
police = salaries.loc[salaries['Department'] == 'POLICE']

In [144]:
police

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [145]:
# Your code here:
e = police[police['Annual Salary'].notnull()]['Annual Salary']
e.mean()

86486.41450313339

In [146]:
e

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [147]:
tset, pval = stats.ttest_1samp(e,86000.0)

In [148]:
pval

0.0020603403550965137

Using the `crosstab` function, find the department that has the most hourly workers.

In [72]:
# Your code here:
df2=pd.crosstab(salaries['Department'],salaries['Salary or Hourly'], margins=True, margins_name="Total")

In [75]:
df2

Salary or Hourly       Hourly  Salary  Total
Department
ADMIN HEARNG                0      39     39
ANIMAL CONTRL              19      62     81
AVIATION                 1082     547   1629
BOARD OF ELECTION           0     107    107
BOARD OF ETHICS             0       8      8
BUDGET & MGMT               2      44     46
BUILDINGS                   0     269    269
BUSINESS AFFAIRS            7     164    171
CITY CLERK                  0      84     84
CITY COUNCIL               64     347    411
COMMUNITY DEVELOPMENT       4     203    207
COPA                        0     116    116
CULTURAL AFFAIRS            7      58     65
DISABILITIES                0      28     28
DoIT                        0      99     99
FAMILY & SUPPORT          287     328    615
FINANCE                    44     516    560
FIRE                        2    4639   4641
GENERAL SERVICES          765     215    980
HEALTH                      3     485    488
HUMAN RELATIONS             0      16     16
HUMAN RESOURCES             4      75     79
INSPECTOR GEN               0      87     87
LAW                        40     367    407
LICENSE APPL COMM           0       1      1
MAYOR'S OFFICE              8      77     85
OEMC                     1273     829   2102
POLICE                     10   13404  13414
POLICE BOARD                0       2      2
PROCUREMENT                 2      90     92
PUBLIC LIBRARY            299     716   1015
STREETS & SAN            1862     336   2198
TRANSPORTN                725     415   1140
TREASURER                   0      22     22
WATER MGMNT              1513     366   1879
Total                    8022   25161  33183

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [122]:
# Your code here:
df2 = df2.drop(['Total'], axis=0)
df2.sort_values(by=['Hourly'])

Salary or Hourly       Hourly  Salary  Total
Department
ADMIN HEARNG                0      39     39
POLICE BOARD                0       2      2
BOARD OF ELECTION           0     107    107
BOARD OF ETHICS             0       8      8
LICENSE APPL COMM           0       1      1
BUILDINGS                   0     269    269
INSPECTOR GEN               0      87     87
CITY CLERK                  0      84     84
HUMAN RELATIONS             0      16     16
TREASURER                   0      22     22
COPA                        0     116    116
DoIT                        0      99     99
DISABILITIES                0      28     28
PROCUREMENT                 2      90     92
FIRE                        2    4639   4641
BUDGET & MGMT               2      44     46
HEALTH                      3     485    488
COMMUNITY DEVELOPMENT       4     203    207
HUMAN RESOURCES             4      75     79
BUSINESS AFFAIRS            7     164    171
CULTURAL AFFAIRS            7      58     65
MAYOR'S OFFICE              8      77     85
POLICE                     10   13404  13414
ANIMAL CONTRL              19      62     81
LAW                        40     367    407
FINANCE                    44     516    560
CITY COUNCIL               64     347    411
FAMILY & SUPPORT          287     328    615
PUBLIC LIBRARY            299     716   1015
TRANSPORTN                725     415   1140
GENERAL SERVICES          765     215    980
AVIATION                 1082     547   1629
OEMC                     1273     829   2102
WATER MGMNT              1513     366   1879
STREETS & SAN            1862     336   2198

In [138]:
f = salaries.loc[salaries['Department'] == 'STREETS & SAN']

In [140]:
e = f[f['Hourly Rate'].notnull()]['Hourly Rate']

In [141]:
tset, pval = stats.ttest_1samp(e,35.0)

In [142]:
pval

3.3378530564707717e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: