# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [5]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [7]:
list1 = sum([x for x in range(1,51)])

print(list1)

1275

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [9]:
list2 = sum([x for x in range(2, 201) if x %2 ==0])

print(list2)

10100

# 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [11]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [12]:
list3 = [y for x in a for y in x]

print(list3)

print(len(list3))

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]
40

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [14]:
list4 = [y for x in a for y in x if y>=0.5]

print(list4)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [20]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [22]:
list5 = 


print(list5)
print(len(list5))

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]
30

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [24]:
list6 = [x for a in b for y in a for x in y if x<=0.5]
print(list6)
print(len(list6))

[0.06210792, 0.08147297, 0.06833034, 0.05440634, 0.30296619, 0.06769833, 0.09143215, 0.45850679, 0.11434044, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.14901286, 0.23760688]
15

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [53]:
import os
import pandas as pd

file_list = [f for f in os.listdir('/home/seora/ironhack/datamad1019/module-1/lab-list-comprehensions/data') if f.endswith('.csv')]

print(file_list)

['sample_file_3.csv', 'sample_file_8.csv', 'sample_file_2.csv', 'sample_file_0.csv', 'sample_file_6.csv', 'sample_file_7.csv', 'sample_file_1.csv', 'sample_file_5.csv', 'sample_file_9.csv', 'sample_file_4.csv']

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [84]:
data_sets = [pd.read_csv(os.path.join('/home/seora/ironhack/datamad1019/module-1/lab-list-comprehensions/data', f)) for f in file_list]


data = pd.concat(data_sets, axis=0)

data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.376101,0.896590,0.500995,0.381416,0.447730,0.048472,0.094235,0.986890,0.582352,0.037230,0.130306,0.766153,0.153783,0.199140,0.330318,0.969657,0.110998,0.033474,0.117277,0.213938
1,0.498192,0.565500,0.152394,0.284232,0.557042,0.417095,0.663465,0.158188,0.039182,0.543442,0.521210,0.993481,0.580359,0.765757,0.931264,0.336841,0.271230,0.509798,0.877048,0.310951
2,0.635284,0.247512,0.179986,0.468231,0.911799,0.764209,0.941413,0.808370,0.578024,0.181267,0.064788,0.924226,0.070744,0.704575,0.948127,0.971452,0.360861,0.074394,0.386949,0.396453
3,0.647497,0.072412,0.681403,0.977189,0.690953,0.829347,0.236915,0.406938,0.898234,0.513575,0.532473,0.790312,0.082292,0.850821,0.088025,0.289218,0.822775,0.515933,0.962827,0.026952
4,0.170792,0.586900,0.029834,0.921923,0.090727,0.592746,0.972429,0.774760,0.293800,0.956949,0.811740,0.525562,0.454788,0.848812,0.095214,0.415311,0.026496,0.513342,0.830389,0.931145
0,0.132453,0.106635,0.673568,0.507253,0.162925,0.130042,0.980388,0.623167,0.074066,0.111557,0.864664,0.093637,0.446974,0.022525,0.713369,0.707874,0.563506,0.982256,0.562498,0.968681
1,0.384938,0.767604,0.850528,0.605998,0.826172,0.667488,0.142045,0.086904,0.912348,0.892183,0.426389,0.776552,0.429496,0.602056,0.283769,0.166793,0.316878,0.688337,0.169525,0.966198
2,0.318691,0.675720,0.807189,0.752518,0.531342,0.703225,0.598293,0.921508,0.563333,0.184300,0.667625,0.270017,0.573440,0.163669,0.032852,0.689315,0.973684,0.719610,0.163670,0.724486
3,0.538593,0.291241,0.407187,0.613260,0.851424,0.962086,0.590512,0.980700,0.159022,0.684265,0.898633,0.470113,0.756593,0.282408,0.551369,0.732153,0.494100,0.792803,0.794426,0.837695
4,0.713271,0.156210,0.392800,0.702348,0.009400,0.030304,0.960066,0.688937,0.260252,0.634608,0.273775,0.264145,0.682941,0.908499,0.450950,0.200761,0.968324,0.221165,0.891382,0.398914

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [70]:
selected_columns = [col for col in data._get_numeric_data() if data[col].median() <0.48]
print(selected_columns)

['2', '9', '12', '14', '17']

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [85]:
# value column_20 = column_19 - 0.1

data['20'] = [(n - 0.1) for n in data['19']]

data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.376101,0.896590,0.500995,0.381416,0.447730,0.048472,0.094235,0.986890,0.582352,0.037230,...,0.766153,0.153783,0.199140,0.330318,0.969657,0.110998,0.033474,0.117277,0.213938,0.113938
1,0.498192,0.565500,0.152394,0.284232,0.557042,0.417095,0.663465,0.158188,0.039182,0.543442,...,0.993481,0.580359,0.765757,0.931264,0.336841,0.271230,0.509798,0.877048,0.310951,0.210951
2,0.635284,0.247512,0.179986,0.468231,0.911799,0.764209,0.941413,0.808370,0.578024,0.181267,...,0.924226,0.070744,0.704575,0.948127,0.971452,0.360861,0.074394,0.386949,0.396453,0.296453
3,0.647497,0.072412,0.681403,0.977189,0.690953,0.829347,0.236915,0.406938,0.898234,0.513575,...,0.790312,0.082292,0.850821,0.088025,0.289218,0.822775,0.515933,0.962827,0.026952,-0.073048
4,0.170792,0.586900,0.029834,0.921923,0.090727,0.592746,0.972429,0.774760,0.293800,0.956949,...,0.525562,0.454788,0.848812,0.095214,0.415311,0.026496,0.513342,0.830389,0.931145,0.831145
0,0.132453,0.106635,0.673568,0.507253,0.162925,0.130042,0.980388,0.623167,0.074066,0.111557,...,0.093637,0.446974,0.022525,0.713369,0.707874,0.563506,0.982256,0.562498,0.968681,0.868681
1,0.384938,0.767604,0.850528,0.605998,0.826172,0.667488,0.142045,0.086904,0.912348,0.892183,...,0.776552,0.429496,0.602056,0.283769,0.166793,0.316878,0.688337,0.169525,0.966198,0.866198
2,0.318691,0.675720,0.807189,0.752518,0.531342,0.703225,0.598293,0.921508,0.563333,0.184300,...,0.270017,0.573440,0.163669,0.032852,0.689315,0.973684,0.719610,0.163670,0.724486,0.624486
3,0.538593,0.291241,0.407187,0.613260,0.851424,0.962086,0.590512,0.980700,0.159022,0.684265,...,0.470113,0.756593,0.282408,0.551369,0.732153,0.494100,0.792803,0.794426,0.837695,0.737695
4,0.713271,0.156210,0.392800,0.702348,0.009400,0.030304,0.960066,0.688937,0.260252,0.634608,...,0.264145,0.682941,0.908499,0.450950,0.200761,0.968324,0.221165,0.891382,0.398914,0.298914

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [102]:
lista10 = [x for y in data.columns for x in data[y] if 0.70 <= x <= 0.75]

print(lista10)

[0.7132714209987683, 0.7347510852128797, 0.7025657075988269, 0.7280006345208285, 0.7258310816144985, 0.736029494090402, 0.7472962776291713, 0.7343092314001137, 0.7358941798147411, 0.7365416322783028, 0.7088042362916818, 0.7023481768180954, 0.7329024831531535, 0.7476323136755818, 0.7008930873050235, 0.7133695725698419, 0.7032248108904495, 0.7013619954419494, 0.7357618655811269, 0.7268545088531969, 0.7150799992177622, 0.7173964318670598, 0.7124169515124726, 0.71223975981198, 0.7306642125209889, 0.7383982036983279, 0.7298115760258881, 0.7051334608870933, 0.7321333453970806, 0.7178166705957928, 0.7374449181749492, 0.7159290265157912, 0.7294980584878026, 0.7215147068185102, 0.7045750112959754, 0.7111584953876777, 0.7209375615129192, 0.7133690799930356, 0.7396561066717461, 0.7303553716733908, 0.7078738356977186, 0.7321533684342264, 0.7390312927111312, 0.7356923324968598, 0.7490680818183477, 0.7130781095091867, 0.7085098152301276, 0.7196096371031628, 0.7264121114538001, 0.7244863338885654, 0.7393833032570581, 0.7376946446827494, 0.7033930409580709, 0.7274869207330491]