# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [38]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [39]:
list = [i for i in range (1,51)]

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [40]:
list = [i for i in range (2,201) if i%2==0]
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [41]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [42]:
list = [matriz for e in a for matriz in e]
print(list)

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [43]:
list = [matriz for e in a for matriz in e if matriz >= 0.5]
print(list)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [44]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [45]:
list = [matriz for a in b for c in a for matriz in c]
print(list)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [75]:
list = [j[2] for i in b for j in i if j[2] <= 0.5]

print(list)

for i in b:
    for j in i:
        if j[2] <= 0.5:
            print(j[2])

[0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688]
0.08147297
0.06833034
0.30296619
0.45850679
0.11434044
0.10708681
0.47984544
0.23760688

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [68]:
import os

file_list = [f for f in os.listdir('../data') if f.endswith('.csv')]

print(file_list)

['sample_file_3.csv', 'sample_file_2.csv', 'sample_file_1.csv', 'sample_file_0.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_9.csv', 'sample_file_7.csv', 'sample_file_8.csv', 'sample_file_6.csv']

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [149]:
import pandas as pd
os.chdir("../data")
lista = [pd.read_csv(file) for file in file_list]

tabla=pd.concat(lista) # no consigo hacerlo con una sola lista, si introduzco la funcion concat en la primera lista no me las junta.

display(tabla[0:10])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.376101,0.896590,0.500995,0.381416,0.447730,0.048472,0.094235,0.986890,0.582352,0.037230,0.130306,0.766153,0.153783,0.199140,0.330318,0.969657,0.110998,0.033474,0.117277,0.213938
1,0.498192,0.565500,0.152394,0.284232,0.557042,0.417095,0.663465,0.158188,0.039182,0.543442,0.521210,0.993481,0.580359,0.765757,0.931264,0.336841,0.271230,0.509798,0.877048,0.310951
2,0.635284,0.247512,0.179986,0.468231,0.911799,0.764209,0.941413,0.808370,0.578024,0.181267,0.064788,0.924226,0.070744,0.704575,0.948127,0.971452,0.360861,0.074394,0.386949,0.396453
3,0.647497,0.072412,0.681403,0.977189,0.690953,0.829347,0.236915,0.406938,0.898234,0.513575,0.532473,0.790312,0.082292,0.850821,0.088025,0.289218,0.822775,0.515933,0.962827,0.026952
4,0.170792,0.586900,0.029834,0.921923,0.090727,0.592746,0.972429,0.774760,0.293800,0.956949,0.811740,0.525562,0.454788,0.848812,0.095214,0.415311,0.026496,0.513342,0.830389,0.931145
0,0.948664,0.215285,0.918270,0.599951,0.755120,0.971609,0.103190,0.194754,0.932388,0.591727,0.697517,0.607355,0.177649,0.435968,0.202404,0.979777,0.095713,0.159040,0.651457,0.803393
1,0.163236,0.803926,0.916655,0.775234,0.644890,0.701362,0.910208,0.871204,0.321745,0.586035,0.887054,0.240060,0.915342,0.205310,0.489504,0.848926,0.304342,0.358977,0.841539,0.964889
2,0.934136,0.031410,0.954057,0.853387,0.642160,0.681184,0.317198,0.875259,0.538416,0.867511,0.813309,0.215624,0.552062,0.498378,0.739656,0.307914,0.233996,0.602166,0.244210,0.313071
3,0.757038,0.918964,0.475459,0.837686,0.149645,0.819032,0.611996,0.644348,0.938444,0.410444,0.561513,0.499231,0.856437,0.054619,0.326310,0.461825,0.954783,0.361873,0.145952,0.873029
4,0.263455,0.816283,0.336707,0.587997,0.285871,0.619942,0.018027,0.548845,0.121471,0.194299,0.149844,0.848866,0.531840,0.663384,0.084884,0.120312,0.463214,0.437889,0.542376,0.668447

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [157]:
a=[tabla.columns]

mediana = tabla[tabla.columns].median()


lista = [i for i in tabla.columns if tabla[i].median() <= 0.48]

print(lista)
print(mediana)

['2', '9', '12', '14', '17']
0     0.518393
1     0.498298
2     0.476174
3     0.617797
4     0.544392
5     0.652570
6     0.589559
7     0.652583
8     0.484164
9     0.456142
10    0.529412
11    0.517590
12    0.450881
13    0.693514
14    0.432621
15    0.574287
16    0.527874
17    0.473843
18    0.537067
19    0.556300
dtype: float64

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [169]:
tabla["20"] = tabla["1"]*0.5
display(tabla[0:5])

#lista = [i for i in tabla.column["20"]]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.376101,0.896590,0.500995,0.381416,0.447730,0.048472,0.094235,0.986890,0.582352,0.037230,...,0.766153,0.153783,0.199140,0.330318,0.969657,0.110998,0.033474,0.117277,0.213938,0.448295
1,0.498192,0.565500,0.152394,0.284232,0.557042,0.417095,0.663465,0.158188,0.039182,0.543442,...,0.993481,0.580359,0.765757,0.931264,0.336841,0.271230,0.509798,0.877048,0.310951,0.282750
2,0.635284,0.247512,0.179986,0.468231,0.911799,0.764209,0.941413,0.808370,0.578024,0.181267,...,0.924226,0.070744,0.704575,0.948127,0.971452,0.360861,0.074394,0.386949,0.396453,0.123756
3,0.647497,0.072412,0.681403,0.977189,0.690953,0.829347,0.236915,0.406938,0.898234,0.513575,...,0.790312,0.082292,0.850821,0.088025,0.289218,0.822775,0.515933,0.962827,0.026952,0.036206
4,0.170792,0.586900,0.029834,0.921923,0.090727,0.592746,0.972429,0.774760,0.293800,0.956949,...,0.525562,0.454788,0.848812,0.095214,0.415311,0.026496,0.513342,0.830389,0.931145,0.293450

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [171]:
valores_mayores =[]

for columna in tabla:
    for valor in tabla[columna]:
        if valor >= 0.7 and valor <= 0.75:
            valores_mayores.append(valor)
#print(valores_mayores)

lista = [valor for columna in tabla for valor in tabla[columna] if valor >= 0.7 and valor <= 0.75 ]
print (lista)

[0.7347510852128797, 0.7280006345208285, 0.7132714209987683, 0.7025657075988269, 0.736029494090402, 0.7472962776291713, 0.7258310816144985, 0.7343092314001137, 0.7088042362916818, 0.7358941798147411, 0.7365416322783028, 0.7329024831531535, 0.7023481768180954, 0.7133695725698419, 0.7476323136755818, 0.7008930873050235, 0.7013619954419494, 0.7357618655811269, 0.7268545088531969, 0.7150799992177622, 0.7173964318670598, 0.7032248108904495, 0.7306642125209889, 0.7383982036983279, 0.7124169515124726, 0.71223975981198, 0.7298115760258881, 0.7051334608870933, 0.7321333453970806, 0.7178166705957928, 0.7374449181749492, 0.7159290265157912, 0.7294980584878026, 0.7215147068185102, 0.7045750112959754, 0.7111584953876777, 0.7209375615129192, 0.7396561066717461, 0.7303553716733908, 0.7133690799930356, 0.7356923324968598, 0.7390312927111312, 0.7078738356977186, 0.7321533684342264, 0.7490680818183477, 0.7085098152301276, 0.7130781095091867, 0.7264121114538001, 0.7196096371031628, 0.7244863338885654, 0.7393833032570581]